<div class="tabla-container">

    <!-- TITULO -->

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2>

                Administración de Equipos

            </h2>

            <p>

                Gestión de inventario tecnológico

            </p>

        </div>

    </div>

    <!-- FORMULARIO -->

    <div class="card p-4 shadow mb-5 border-0 rounded-4">

        <form th:action="@{/admin/equipos/guardar}"

              th:object="${equipo}"

              method="post">

            <!-- CATEGORIA -->

            <div class="mb-3">

                <label class="form-label">

                    Categoría

                </label>

                <select class="form-select"
                        th:field="*{categoria}">

                    <option value="PORTATIL">

                        PORTÁTIL

                    </option>

                    <option value="VIDEO BEAM">

                        VIDEO BEAM

                    </option>

                    <option value="HDMI">

                        HDMI

                    </option>

                    <option value="CABLE RED">

                        CABLE DE RED

                    </option>

                </select>

            </div>

            <!-- MARCA -->

            <div class="mb-3">

                <label class="form-label">

                    Marca

                </label>

                <input type="text"
                       class="form-control"
                       th:field="*{marca}">
            </div>

            <!-- SERIAL -->

            <div class="mb-3">

                <label class="form-label">

                    Serial

                </label>

                <input type="text"
                       class="form-control"
                       th:field="*{serial}">
            </div>

            <!-- ESTADO -->

            <div class="mb-4">

                <label class="form-label">

                    Estado

                </label>

                <select class="form-select"
                        th:field="*{estado}">

                    <option value="DISPONIBLE">

                        DISPONIBLE

                    </option>

                    <option value="MANTENIMIENTO">

                        MANTENIMIENTO

                    </option>

                </select>

            </div>

            <!-- BOTON -->

            <button class="btn btn-primary">

                <i class="fa-solid fa-floppy-disk"></i>

                Guardar Equipo

            </button>

        </form>

    </div>

    <!-- TABLA -->

    <div class="card p-4 shadow border-0 rounded-4">

        <h4 class="mb-4">

            Equipos registrados

        </h4>

        <table class="table table-hover align-middle">

            <thead class="table-dark">

            <tr>

                <th>ID</th>

                <th>Categoría</th>

                <th>Marca</th>

                <th>Serial</th>

                <th>Estado</th>

            </tr>

            </thead>

            <tbody>

            <tr th:each="equipo : ${equipos}">

                <td th:text="${equipo.id}"></td>

                <td th:text="${equipo.categoria}"></td>

                <td th:text="${equipo.marca}"></td>

                <td th:text="${equipo.serial}"></td>

                <td>

                    <span class="badge bg-success"

                          th:text="${equipo.estado}">

                    </span>

                </td>

            </tr>

            </tbody>

        </table>

    </div>

</div>