<div class="tabla-container">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2>

                Usuarios registrados

            </h2>

            <p>

                Gestión de usuarios del sistema

            </p>

        </div>

    </div>

    <table class="table table-hover">

        <thead>

        <tr>

            <th>ID</th>

            <th>Identificación</th>

            <th>Nombre</th>

            <th>Correo</th>

            <th>Rol</th>

            <th>Acciones</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="usuario : ${usuarios}">

            <td th:text="${usuario.id}"></td>

            <td th:text="${usuario.identificacion}"></td>

            <td th:text="${usuario.nombre}"></td>

            <td th:text="${usuario.correo}"></td>

            <td>

                <span class="badge bg-primary"
                      th:text="${usuario.rol}">
                </span>

            </td>

            <td>

                <!-- EDITAR -->

                <a th:href="@{/admin/usuarios/editar/{id}(id=${usuario.id})}"

                   class="btn btn-warning btn-sm">

                    <i class="fa-solid fa-pen"></i>

                </a>

                <!-- ELIMINAR -->

                <a th:href="@{/admin/usuarios/eliminar/{id}(id=${usuario.id})}"

                   class="btn btn-danger btn-sm">

                    <i class="fa-solid fa-trash"></i>

                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>